.sub-menu{
    background-color: #161718;
}
.sub-menu {
    width: 180px;
    font-size: 1.3rem;
    padding: 0.2rem 0.7rem;
    visibility: hidden;
    transition: all 0.2s;
    transform: translateY(10px);
    z-index: 222;
}
.gal:hover .sub-menu{
    visibility: visible;
    transform: translateY(0);
}
.sub-menu-child{
    right: 0;
    background:#161718;
    top: 0;
    visibility:hidden;
    transition: all 0.6s;
    transform:translateX(111%)

}
.sub-sub:hover .sub-menu-child{
visibility: visible;
}
.cross,.list{
    display: none;
}
@media only screen and (max-width:800px){
  
  .main{
    position: relative;
    
  }
  
  
    .menu{
        transition: all 0.7s;
        padding: 2rem 0.5rem;

    height: 100vh;
    background-color:rgb(10,10,10,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    transform: translateX(100%);
    
  }
  .menu ul{
    flex-direction: column;
    width: 100%;

  }
  .cross{
    display: block;
    margin-left: auto;
  }
  .list{
    display: block;
  }
}
.up{
  z-index: 222;
}
.clr{
  color: blue;
}